/* END OF BASE.HTML */

#home-grid{
    margin-top:2rem;
    background-color: rgb(253, 245, 224);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#home-about{
    margin-top:2rem;
    max-width:700px;
}

h1.text-center{
    font-size: 3rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

p.text-body{
    margin-bottom:3rem;
}

.option-img{
    height:100%;
    width:100%;
    object-fit: cover;
}

#home-col{
    padding-left: 0px;
    max-height: 13rem;
}

#home-col-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:0.5rem;
    padding-top:1rem;
    padding-right:1rem;
}

#home-col-text-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left:0.5rem;
    padding-top:1rem;
    padding-right:1rem;
    text-align: end;
}