.card-title .card-text{
    color:black;
}


.tab-content{
    margin-right: auto;
}

.card {
width: 100%;
height: 100%;
}

.product-col {
height: 100%;
}

.row{
    height:100%;
}

.carousel-inner#p .carousel-item#p{
    max-height: 13em;
}

/* .carousel-inner img {
    width: 100%;
    height: auto;
  } */

.card-body{
    padding:0.7em;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item{
        max-height:8em;
    }
    .btn{
        max-width: 28%;
        font-size: 0.8rem;
    }
    .justify-content-center{
        padding:0px
    }
}
