<!-- wheretobuy.html -->
{% extends 'base.html' %}

{% block title %}Products - {{ super() }}{% endblock %}

{% block content %}
<link href="/static/certifications.css" rel="stylesheet">
<h2 class="locations-header"><strong>Our Certifications</strong></h2>
<div class="container location-container">
    <div class="row">

      <div class="col-4 location">
        <img src="/static/certifications/Logo Halal CK.png" alt="Halal Logo" class="img-fluid loc">
      </div>

      <div class="col-4 location">
        <img src="/static/locations/burudy_logo.png" alt="Bu Rudy Logo" class="img-fluid loc">
      </div>

      <div class="col-4 location">
        <img src="/static/locations/lotte_logo.png" alt="Lotte Logo" class="img-fluid loc">
      </div>
    </div>
</div>


{% endblock %}