<!-- wheretobuy.html -->
{% extends 'base.html' %}

{% block title %}Products - {{ super() }}{% endblock %}

{% block content %}
<link href="/static/certifications.css" rel="stylesheet">
<h2 class="locations-header"><strong>Our Certification</strong></h2>
<div class="container location-container">
    <div class="row">

      <div class="col-12 location">
        <img src="/static/certifications/halal.png" alt="Halal Logo" class="img-fluid loc">
        <h5 style="text-align: center;">Certified 2022-2026</h5>
      </div>

    </div>
</div>


{% endblock %}