<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-4" id="home-grid">
    <div class="row row-cols-2">
      <div class="col-md-6 mb-4">
        <a href="your-link-1" class="card" role="button">
          <img src="static/images/card1.jpg" alt="Image 1" class="img-fluid">
          <div class="card-title">Favorites</div>
        </a>
      </div>
  
      <div class="col-md-6 mb-4">
        <a href="your-link-2" class="card" role="button">
          <img src="static/images/card1.jpg" alt="Image 2" class="img-fluid">
          <div class="card-title">Cookies</div>
        </a>
      </div>
  
      <div class="col-md-6 mb-4">
        <a href="your-link-3" class="card" role="button">
          <img src="static/images/card1.jpg" alt="Image 3" class="img-fluid">
          <div class="card-title">Hampers</div>
        </a>
      </div>
  
      <div class="col-md-6 mb-4">
        <a href="your-link-4" class="card" role="button">
          <img src="static/images/card1.jpg" alt="Image 4" class="img-fluid">
          <div class="card-title">Snacks</div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}