<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
<link href="/static/home.css" rel="stylesheet">

<div class="container mx-auto" id="home-about">
    <h1 class="text-center">About Us</h1>
    <p class="text-body">Cookies Kingdom in Surabaya delights taste buds with a royal selection of artisanal cookies. Nestled in a charming locale, we craft irresistible treats using premium ingredients and time-honored recipes. Our regal creations, from classic chocolate chip to exotic matcha-infused delights, promise a delectable journey for cookie connoisseurs. Indulge in the kingdom's sweet symphony, where each bite is a royal treat.</p>
</div>

<div class="container-fluid" id="home-grid">
    <a href="/products?page=signatures">
        <div class="row row-cols-2" id="home-row">
            <div class="col-8"  id="home-col">
                <img src="/static/images/card1.jpg" alt="Card 1" class="img-fluid option-img-left">
            </div>
            <div class="col-4" id="home-col-text">
                <h2 class="text-lg">Our Favorites</h2>
                <p class="text-sm">The best-selling products from our catalogue.</p>
            </div>
        </div>
    </a>
</div>

<div class="container-fluid" id="home-grid">
    <a href="/products?page=cookies">
        <div class="row row-cols-2" id="home-row">
            <div class="col-4" id="home-col-text-left">
                <h2 class="text-lg">Our Cookies</h2>
                <p class="text-sm">Delicious cookies for all your needs.</p>
            </div>
            <div class="col-8"  id="home-col">
                <img src="/static/images/card4.jpg" alt="Card 2" class="img-fluid option-img-right">
            </div>
        </div>
    </a>
</div>

<div class="container-fluid" id="home-grid">
    <a href="/products?page=hampers">
        <div class="row row-cols-2" id="home-row">
            <div class="col-8"  id="home-col">
                <img src="/static/images/card2.jpg" alt="Card 3" class="img-fluid option-img-left">
            </div>
            <div class="col-4" id="home-col-text">
                <h2 class="text-lg">Our Hampers</h2>
                <p class="text-sm">Perfect for any festive season.</p>
            </div>
        </div>
    </a>
</div>

<div class="container-fluid" id="home-grid">
    <a href="/products?page=snacks">
        <div class="row row-cols-2" id="home-row">
            <div class="col-4" id="home-col-text-left">
                <h2 class="text-lg">Our Snacks</h2>
                <p class="text-sm">Yummy snacks to fill your tummy.</p>
            </div>
            <div class="col-8"  id="home-col">
                <img src="/static/images/card4.jpg" alt="Card 4" class="img-fluid option-img-right">
            </div>
        </div>
    </a>
</div>
{% endblock %}